%fieldset#user_foto_input_type{data: {role: 'controlgroup', type: 'horizontal'}}
  = link_to t('uploads.start_camera'), '#', onclick: 'MEDIA_MANAGER.userFotoMediaInputInitMobile()'
  = link_to t('uploads.select_file'), '#', onclick: 'APP.view().userFotoFileInputInit()'
%span.ui-icon.ui-icon-circle-close{style: 'float:right;', onclick: 'javascript:APP.view().toogleUserFotoUpload();'}
%br
= link_to '', '#media_input_panel', id: 'user_foto_media_input_panel_show'
.user_foto_media_input_container#user_foto_cam_container{style: 'width: 100%;'}
  #user_foto_upload_form_ui
    #user_foto_media_input_container{style: 'display: none; text-align: center;'}
      %img#user_foto_media_input_current{src: ''}
      .ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only#user_foto_media_input_upload_btn
        .ui-button-text
          #{t('uploads.upload_photo').html_safe}
.user_foto_media_input_container#user_foto_file_container{style: 'display: none;'}
  = form_tag set_user_detail_path(detail: :foto), remote: true, format: :script, multipart: true, id: :user_foto_form, target: 'upload_target' do |f|
    #user_foto_upload_file_controls
      %span{style: 'float: left;'}
        = file_field_tag 'foto', id: :user_foto_fileupload, accept: User::ACCEPTED_FOTO_CONTENT_TYPES.join(',')
      %button.show-page-loading-msg#user_foto_upload_button{data: {type: 'json', theme: 'a', textonly: 'false', textvisible: 'true', msgtext: 'Loading'}}
        #{t('uploads.upload').html_safe}
